trigger:
  batch: true
  branches:
    include:
    - main

pool:
  vmImage: ubuntu-latest

stages:
# - stage: SecurityCheck
#   displayName: 'Validating Dependencies'
#   jobs:
#   - job: SnykSecurityScan
#     displayName: Snyk Scan
#     steps:
#       - script: |
#         displayName: 'Pip Install'
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt

#       - task: SnykSecurityScan@1
#         displayName : 'Snyk'
#         inputs:
#           serviceConnectionEndpoint: 'GDI-SNYK'
#           testType: 'app'
#           monitorWhen: 'always'

- stage: Test
  displayName: 'Running Tests'
  jobs:
    - job: InstallDependencies
      displayName: 'Install Dependencies'
      steps:
        - script: |
          displayName: 'Pip Install'
            python -m pip install --upgrade pip
            pip install -r requirements.txt

    - job: RunTests
        displayName: 'Run Tests'
        - script: |
          displayName: 'Run Pytest Generate Coverage Report'
            pip install pytest pytest-azurepipelines
            pip install pytest-cov
            pytest --cov-report xml:tests\cov.xml --cov atratus

- stage: Build
  displayName: 'Build and Publish Package'
  jobs:
    - job: InstallBuildDependencies
      displayName: 'Build and Publish Package'
      steps:
        - script: |
          displayName: 'Pip Install'
            python -m pip install --upgrade pip
            pip install -r requirements-dev.txt

        # - script: |
        #   displayName: 'Python build'
        #     python -m build -w

        # - task: TwineAuthenticate@1
        #   displayName: 'Twine Authenticate'
        #   inputs:
        #     artifactFeed: GSRSD/gdi_packages
          
        # - script: |
        #   displayName: 'Upload to feed'
        #     python -m twine upload -r gdi_packages --config-file $(PYPIRC_PATH) dist/*.whl
