
trigger:
- '*'

pool:
  vmImage: ubuntu-latest

stages:
- stage: SecurityCheck
  displayName: 'Validating Dependencies'
  jobs:
  - job: InstallDependencies
      displayName: 'Install Dependencies'
      steps:
      - script: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        displayName: 'Pip Install'
        
  - job: SnykSecurityScan
    displayName: Snyk Scan
    steps:
      - task: SnykSecurityScan@1
        inputs:
          serviceConnectionEndpoint: 'GDI-SNYK'
          testType: 'app'
          monitorWhen: 'always'
        displayName : 'Snyk'

- stage: RunTests
  displayName: 'Running Tests'
  jobs:
    - job: InstallDependencies
      displayName: 'Install Dependencies'
      steps:
      - script: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        displayName: 'Pip Install'

    - job: RunTests
      displayName: 'Run Tests'
      steps:
      - script: |
          pip install pytest pytest-azurepipelines
          pip install pytest-cov
          pytest --cov-report xml:tests\cov.xml --cov atratus
        displayName: 'Run Pytest Generate Coverage Report'

- stage: Build
  displayName: 'Running Tests'
  jobs:
  - job: InstallBuildDependencies
    displayName: 'Install Dependencies'
    steps:
    - script: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
      displayName: 'Pip Install'

  - job: Build
    displayName: 'Build Package'
    steps:
    - script: |
        python -m build -w
      displayName: 'Python build'

- stage: Publish
  displayName: 'Publish'
  jobs:
  - job: PublishtoFeed
    displayName: 'Publish to Feed'
    steps:
    - task: TwineAuthenticate@1
      inputs:
        artifactFeed: GSRSD/gdi_packages
      displayName: 'Twine Authenticate'
    - script: |
        python -m twine upload -r gdi_packages --config-file $(PYPIRC_PATH) dist/*.whl
      displayName: 'Upload to feed'
