trigger:
  batch: true
  branches:
    include:
    - '*'

variables:
  isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
  isRC: $[contains(variables['Build.SourceBranch'], 'releases/')]

pool:
  vmImage: ubuntu-latest

stages:
- stage: Test
  displayName: 'Run Tests'
  condition: always()
  jobs:
    - job: TestCoverage
      displayName: 'Test coverage'
      steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '3.11'
            addToPath: true
            architecture: 'x64'

        - script: |
            python -m pip install .[tests] pytest-azurepipelines
          displayName: 'Install [tests]'
        
        - script: pytest --cov-report xml:tests\cov.xml --cov tests/
          displayName: 'Report pytest coverage'

- stage: SecurityCheck
  displayName: 'Check Security'
  trigger: manual
  isSkippable: true
  jobs:
  - job: SnykSecurityScan
    displayName: Scan app with snyk
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.11'
          addToPath: true
          architecture: 'x64'

      # Snyk does not support PEP621 - so we need a requirements.txt
      - script: |
          python -m pip install .
          python -m pip freeze > requirements.txt
        displayName: 'Freeze dependencies'

      - task: SnykSecurityScan@1
        inputs:
          serviceConnectionEndpoint: 'GDI-SNYK'
          testType: 'app'
          monitorWhen: 'always'
        displayName : 'Scan app'

- stage: Build
  displayName: 'Build and Publish'
  dependsOn: 
    - Test
    - SecurityCheck
  condition: and( succeeded('Test'), or(eq(variables.isMain, true), eq(variables.isRC, true)) )
  jobs:
    - job: BuildDependencies
      displayName: 'Install and build'
      steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '3.11'
            addToPath: true
            architecture: 'x64'
        
        - script: |
            python -m pip install artifacts-keyring twine
            python -m pip wheel --no-deps -w dist/ .
          displayName: 'Python build'

        - task: TwineAuthenticate@1
          inputs:
            artifactFeed: GSRSD/gdi_packages
          displayName: 'Twine authenticate'
          
        - script: |
            python -m twine upload -r gdi_packages --config-file $(PYPIRC_PATH) dist/*.whl
          displayName: 'Upload to feed'
